@media screen and (max-width: 767px) and (min-width: 567px) {
  .about {
    text-align: left;
  }
  /* .explore {
    border-bottom: 2px solid gray;
  } */
  .about h5 {
    border-bottom: 2px solid gray;
  }
  .inner-recipes {
    font-size: 11px;
  }
  .recieps-block {
    top: -27px;
    margin: 25px -3px;
  }
  .space-time {
    padding: 7px 7px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .new-gen ul {
    margin-bottom: 12px;
  }
  .inner-recipes h5,
  p {
    font-size: 12px;
  }
  .logo h1 {
    font-size: 16px;
    margin-top: 7px;
  }
  .subscribe {
    margin-top: 4px;
  }
  .back-bg {
    height: 192px;
  }
  .want-search {
    top: 54px;
    left: 107px;
    width: 63%;
  }
  .learn-items li {
    padding: 6px 5px;
    background-color: #d3ef38;
    border-radius: 22px;
  }
  .lorem2 {
    font-size: 10px;
    margin-top: 14px;
  }
  .adplacement p {
    left: 1%;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .logo h1 {
    font-size: 23px;
  }
  .learn-items li {
    padding: 9px 24px;
  }
  .adplacement p {
    left: 23%;
  }
  .back-bg {
    height: 269px;
    top: 97px;
  }
  .blog-content h4 {
    font-size: 16px;
  }
  .subscribe {
    margin-top: 5px;
  }
  .blog-content p {
    font-size: 15px;
  }
  .blog-img img {
    height: 160px;
  }
  .lorem2 h6 {
    font-size: 12px;
  }
  .adplacement p {
    left: 17%;
  }
  .adplacement {
    padding: 18px 11px;
    height: 117px;
  }
  .inner-recipes {
    font-size: 15px;
  }
  .lorem2 p {
    font-size: 8px;
  }
  .blog-content p {
    font-size: 15px;
  }
  .hours {
    font-size: 13px;
  }
  .inner-img img {
    height: 188px;
  }
  .want-search {
    left: 136px;
    top: 90px;
    width: 63%;
  }
  .sub {
    padding: 9px 19px;
  }
  .inner-recipes h5,
  p {
    font-size: 12px;
  }
  .recieps-block {
    margin: 4px 26px;
    top: -28px;
  }
  .new-gen p {
    font-size: 14px;
  }
  .lorem1 img {
    height: 50px;
  }
  .our-work img {
    height: 374px;
  }
  .art-padd {
    padding: 2px 5px;
  }
}

@media (min-width: 992) {
  .logo h1 {
    font-size: 30px;
  }
  .logo h1 {
    font-size: 30px;
  }
  .learn-items li {
    padding: 9px 24px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .logo h1 {
    font-size: 30px;
  }
  .learn-items li {
    padding: 9px 24px;
  }
  .adplacement p {
    left: 23%;
  }
  .back-bg {
    height: 349px;
  }
  .blog-content h4 {
    font-size: 21px;
  }
  .blog-content p {
    font-size: 16px;
  }
  .hours {
    font-size: 13px;
  }
  .inner-img img {
    height: 188px;
  }
  .want-search {
    left: 243px;
  }
  .our-work img {
    height: 374px;
  }
  .art-padd {
    padding: 2px 5px;
  }
}

@media (min-width: 1200) {
}

@media screen and (max-width: 1366px) and (min-width: 1200px) {
  .art-padd {
    padding: 2px 5px;
  }
}

@media (min-width: 1366) and (max-width: 1600px) {
}
